<link
    href="https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic"
    rel="stylesheet" />

<header>
    <h1>
        <p>&lt</p>Code<p>&gt</p>ial
    </h1>
    <ul>
        <%if(locals.user){%>
        <li><a href="/users/profile"><%=user.name%></a></li>
        <li><a href="/users/sign-out">Sign Out</a></li>
        <%}else{%>
        <li><a href="/users/sign-in">Sign In</a></li>
        <li><a href="/users/sign-up">Sign Up</a></li>
        <%}%>
    </ul>
</header>