<h1>Codeial Social App</h1>
<section id="feed-posts">
    <h4>Posts</h4>
    //If user is signed in only then show 
    <%if(locals.user){%>
    <form action="/posts/create" id="new-post-form" method="POST">
        <textarea name="content" cols="30" rows="3" placeholder="Type Here..."></textarea>
        <input type="submit"  value="Post" >
    </form>
    <%}%>
</section>

<div class="post-list-container">
    <ul>
        <%for(post of posts){%>
            <li>
                <%=post.content%>
                <%=post.user.name%>
            </li>    
        <%}%>
    </ul>
</div>