<form action="/users/create-session" method="POST">
    <div id="email">
        <input type="email" name="email" placeholder="Enter Email" required>
    </div>
    <div id="password">
        <input type="password" name="password" placeholder="Enter Password">
    </div>
    <button type="submit">
        Sign In
    </button>
</form>