<form action="/users/create" method="POST">
    <div id="name">
        <input type="text" name="name" placeholder="Enter Name" required>
    </div>
    <div id="email">
        <input type="email" name="email" placeholder="Enter Email" required>
    </div>
    <div id="password">
        <input type="password" name="password" placeholder="Enter Password" required>
    </div>
    <div id="confirm-password">
        <input type="password" name="confirm" placeholder="Confirm Password" required>
    </div>
    <button type="submit">
        Sign Up
    </button>
</form>