<h1>Log In</h1>
<form action="/users/create-session" method="POST">
    <div id="email">
        <input type="email" name="email" placeholder="Enter Email" required>
    </div>
    <div id="password">
        <input type="password" name="password" placeholder="Enter Password">
    </div>
    <div class="sign-in">
        <button type="submit">
            Sign In
        </button>
    </div>
</form>