#main-heading {
    margin: 10px 10px;
    text-align: left;
    font-family: sans-serif;
}

#feed-posts{
    width: 47%;
    border: 1px solid rgba(100,100,100,0.3);
    border-radius: 10px;
    padding: 20px;
    margin: auto;
    form{
        *{
            font-family: 'Roboto';
        }
        width: 100%;
        textarea{
            width: 98%;
            font-size: 1.3rem;
            padding: 10px 0px 0px 10px;
            outline: none;
            border-radius: 25px;
            border-color: rgba(100,100,100,0.4);
        }
        #post-button{
            font-size: 0.9rem;
            width: 80px;
            height: 30px;
            border: none;
            font-family: 'Poppins';
            color: white;
            background-color:  #115f66;
            border-radius: 30px;
        }
    }

}

.post-list-container{
    width: 50%;
    margin: auto;

    #feed{
        border-bottom: 1px solid grey;
        color: #086972;
        font-family: 'Barlow Semi Condensed',sans-serif;
        font-weight: 500;
    }
    ul{
        list-style: none;
        padding: 0px;
        li{
            min-height: 70px;
            padding: 20px 20px 0px;
            
            border: 1px solid rgba(100,100,100,0.3);
            border-radius: 8px;
            margin-bottom: 10px;
            text-transform: capitalize;
            #post-user{
                font-weight: 500;
                width: max-content;
                border-bottom: 1px solid rgba(100,100,100,0.6);
                margin-bottom: 10px;
                font-family: 'Roboto';
                font-size: 1.1rem;
                color: #094a50;
            }
            #post-content{
                min-height: 70px;
                border: 1px solid rgba(100,100,100,0.5);
                border-radius: 8px;
                p{
                    font-family: 'Open Sans';
                    padding: 0px 0px 0px 10px;
                    margin: 8px 0px 0px 1px;
                    font-size: 1.3rem;
                    color: rgb(36, 59, 59);
                    font-weight: 600;
                }
            }

            .post-comments{
                margin: 20px 0px;
                form{
                    margin: 0px;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    textarea{
                        width: 75%;
                        border-color: rgba(100,100,100,0.2);
                        border-radius: 20px;
                        padding: 10px 0px 0px 10px;
                        font-family: 'Roboto';
                    }
                    #comment-button{
                        font-size: 0.9rem;
                        padding: 5px 10px 5px 10px;
                        height: 30px;
                        border: none;
                        font-family: 'Poppins';
                        color: white;
                        background-color:  #115f66;
                        border-radius: 30px;
                    }
                }
            }   
            .post-comments-list{
                border: 1px solid rgba(100,100,100,0.4);
                border-radius: 15px;
                margin-bottom: 20px;
                ul{
                   #comment-user{
                       font-weight: 500;
                       font-size: 0.9rem;
                       font-family: 'Roboto';
                       color: #094a50;
                       margin: 8px 0px 2px 8px;
                   }
                   #comment-content{
                       margin: 0px 0px 8px 15px;
                       font-size: 0.85rem;
                       font-weight: 600;
                       font-family: 'Open Sans';
                   }
                }
            }       
        }
        
    }
}